@page "/ViewPlayers"
@using Domain.Model
@using HttpClients.ClientInterfaces
@inject IFootballPlayerService PlayerService

<h3 style="text-align: center">Overview of all players</h3>

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (players == null)
{
    <span>Loading..</span>
}
else if (!players.Any())
{
    <span>No players found</span>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Role</th>
            <th>Team Name</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Player player in players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.DateOfBirth</td>
                <td>@player.Email</td>
                <td>@player.Role</td>
                <td>@player.TeamName</td>
                <td>@player.Position</td>
                <td><button>edit player</button></td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Player>? players;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            players = await PlayerService.GetAllPlayersAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    
    }
}